@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Helvetica, Arial, sans-serif, Inter, system-ui, Avenir;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* or any other variables/style */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0; /* Optional: Remove spacing around buttons */
}
